/.conda-capture
/tableturf_sim/data/logs
/gamestrategy_RL/__pycache__
/switch_connect/__pycache__
/tableturf_sim/src/__pycache__
/tableturf_sim/src/assets/__pycache__
/tableturf_sim/src/assets/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/assets/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/__pycache__
/tableturf_sim/src/realtime_bridge/__pycache__
/tableturf_sim/src/utils/__pycache__
/tableturf_sim/tools/__pycache__
/tableturf_sim/tools/__pycache__
/switch_connect/vision_capture/__pycache__
/switch_connect/virtual_gamepad/__pycache__
/vision_capture/__pycache__
/vision_capture/debug
/tableturf_vision/__pycache__
/tableturf_sim/src/view/__pycache__
/switch_connect/vision_capture/debug
/switch_connect/policies/__pycache__
/autocontroller_rebuild_for_RL/__pycache__
/tableturf_sim/src/strategy/__pycache__
/tableturf_sim/src/view/__pycache__
**/__pycache__/
*.pyc
/autocontroller_rebuild_for_RL/debug_runtime
/autocontroller_rebuild_for_RL/replays
.DS_Store
*.swp
/tableturf_vision/error
/autocontroller_rebuild_for_RL/clone_jelly_state.json
/autocontroller_rebuild_for_RL/map_battle_stats.json
